*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	box-sizing: border-box;
}

.container{
	width: 500px;
	margin: 20px auto;
	padding: 20px;
}
button{
	margin: 0 10px;
	padding: 0 5px;
	cursor: pointer;
}
p{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.root{
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
}
.item{
	margin: 5px 20px;
}
