*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
	box-sizing: border-box;	
}
#calendar{
	margin: 60px auto;
	width: 500px;
	font-size: 18px;
	user-select: none;
	-webkit-user-select: none;
}
.input{
	height: 40px;
	line-height: 40px;
	width: 300px;
	border: 1px solid #ccc;
	padding-left: 10px;
	font-size: 18px;
}
label{
	margin-right: 10px;
}
p{
	line-height: 40px;
}
.calendar{
	/*margin-top: 10px;*/
	width: 300px;
	border: 1px solid #ccc;
}
.calendar .header{
	position: relative;
	text-align: center;
	background-color: purple;
	height: 60px;
	line-height: 60px;
}
.calendar .header select{
	width: 80px;
	font-size: 20px;
}
.calendar .header .btn{
	border: 7px solid transparent;
	position: absolute;
	top: 24px;
	cursor: pointer;
	opacity: 0.7;
}
.calendar .header .btn:hover{
	opacity: 1;
}
.calendar .header .pre{
	border-right-color: white;
	left: 10px;
}
.calendar .header .next{
	border-left-color: white;
	right: 10px;
}
.calendar .week{
	height: 40px;
	padding: 0 5px;
	cursor: default;
	border-bottom: 1px solid #ccc;
}
ul li{
	width: 40px;
	line-height: 40px;
	list-style: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
ul li:hover{
	background-color: purple;
	color: white;
}
.calendar .day{
	padding: 5px;
}
.calendar .footer{
	display: flex;
	justify-content: space-around;
	padding: 10px;
}
button{
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;
	background-color: #337ab7;
	color: white;
}
button:hover{
	background-color: #286090;
}
.hide{
	display: none;
}
.chosen{
	background-color: purple;
	color: white;
}
.range{
	background-color: lightgrey;
}
.mark{
	font-size: 10px;
}